In [11]:
import numpy as np
import seaborn as sns

In [ ]:
#ÖRNEKLEM

In [28]:
population = np.random.randint(0, 80, 10000)

In [3]:
population[0 : 10]

array([64, 17, 55, 42, 16, 26, 59,  2,  9, 72])

In [4]:
np.random.seed(115)
sample = np.random.choice(a = population, size = 100)
sample[0 : 10]

array([46, 65, 26, 44, 33, 75,  5, 50, 56, 64])

In [5]:
sample.mean()

42.59

In [6]:
population.mean()

39.8381

In [8]:
sample1 = np.random.choice(a = population, size = 100)
sample2 = np.random.choice(a = population, size = 100)
sample3 = np.random.choice(a = population, size = 100)
sample4 = np.random.choice(a = population, size = 100)
sample5 = np.random.choice(a = population, size = 100)
sample6 = np.random.choice(a = population, size = 100)
sample7 = np.random.choice(a = population, size = 100)
sample8 = np.random.choice(a = population, size = 100)
sample9 = np.random.choice(a = population, size = 100)
sample10 = np.random.choice(a = population, size = 100)
samplesMean = (sample1.mean() + sample2.mean() + sample3.mean() + sample4.mean() + sample5.mean() + sample6.mean() + sample7.mean() + sample8.mean() + sample9.mean() + sample10.mean()) / 10
samplesMean

39.903000000000006

In [10]:
#BETİMSEL İSTATİKLER

In [12]:
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [16]:
!pip install researchpy as rp
import researchpy as rp

Requirement already satisfied: researchpy in c:\users\alperen\anaconda3\lib\site-packages (0.2.3)
Requirement already satisfied: as in c:\users\alperen\anaconda3\lib\site-packages (0.1)
Requirement already satisfied: rp in c:\users\alperen\anaconda3\lib\site-packages (0.1.630)
Requirement already satisfied: scipy in c:\users\alperen\anaconda3\lib\site-packages (from researchpy) (1.5.0)
Requirement already satisfied: pandas in c:\users\alperen\anaconda3\lib\site-packages (from researchpy) (1.0.5)
Requirement already satisfied: numpy in c:\users\alperen\anaconda3\lib\site-packages (from researchpy) (1.18.5)
Requirement already satisfied: statsmodels in c:\users\alperen\anaconda3\lib\site-packages (from researchpy) (0.11.1)
Requirement already satisfied: doge in c:\users\alperen\anaconda3\lib\site-packages (from rp) (3.5.0)
Requirement already satisfied: inflect in c:\users\alperen\anaconda3\lib\site-packages (from rp) (4.1.0)
Requirement already satisfied: stackprinter in c:\users\alperen\anaconda3\lib\site-packages (from rp) (0.2.4)
Requirement already satisfied: six in c:\users\alperen\anaconda3\lib\site-packages (from rp) (1.15.0)
Requirement already satisfied: wcwidth in c:\users\alperen\anaconda3\lib\site-packages (from rp) (0.2.5)
Requirement already satisfied: pygments in c:\users\alperen\anaconda3\lib\site-packages (from rp) (2.6.1)
Requirement already satisfied: parso in c:\users\alperen\anaconda3\lib\site-packages (from rp) (0.7.0)
Requirement already satisfied: dill in c:\users\alperen\anaconda3\lib\site-packages (from rp) (0.3.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\alperen\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\alperen\anaconda3\lib\site-packages (from pandas->researchpy) (2020.1)
Requirement already satisfied: patsy>=0.5 in c:\users\alperen\anaconda3\lib\site-packages (from statsmodels->researchpy) (0.5.1)

In [18]:
rp.summary_cont(df[["total_bill", "tip", "size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [19]:
rp.summary_cat(df[["sex", "smoker", "day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [21]:
#İŞ UYGULAMASI: Fiyat Stratejisi Karar Destek

In [22]:
import statsmodels.stats.api as sms

In [24]:
prices = np.random.randint(10, 110, 1000)
prices.mean()

59.814

In [27]:
sms.DescrStatsW(prices).tconfint_mean()
#İdeal fiyat aralığı

(58.059677016719775, 61.568322983280225)

In [29]:
#BÜYÜK SAYILAR YASASI

In [32]:
rng = np.random.RandomState(123)
for i in np.arange(1, 21):
    experiment = 2**i
    head_tail = rng.randint(0, 2, size = experiment)
    head_prob = np.mean(head_tail)
    print("# of throw: ", experiment, "***", "Probability of head: %.2f" % (head_prob * 100))

# of throw:  2 *** Probability of head: 50.00
# of throw:  4 *** Probability of head: 0.00
# of throw:  8 *** Probability of head: 62.50
# of throw:  16 *** Probability of head: 43.75
# of throw:  32 *** Probability of head: 46.88
# of throw:  64 *** Probability of head: 56.25
# of throw:  128 *** Probability of head: 50.78
# of throw:  256 *** Probability of head: 52.73
# of throw:  512 *** Probability of head: 52.93
# of throw:  1024 *** Probability of head: 50.20
# of throw:  2048 *** Probability of head: 48.58
# of throw:  4096 *** Probability of head: 49.49
# of throw:  8192 *** Probability of head: 49.58
# of throw:  16384 *** Probability of head: 49.96
# of throw:  32768 *** Probability of head: 50.00
# of throw:  65536 *** Probability of head: 49.68
# of throw:  131072 *** Probability of head: 49.97
# of throw:  262144 *** Probability of head: 50.13
# of throw:  524288 *** Probability of head: 50.01
# of throw:  1048576 *** Probability of head: 50.09